<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- while cicos login begin -->
	<div id="afterCicosLogin">
		<div class="col-md-2 col-md-offset-1">
			<ol class="nav nav-pills nav-stacked">
				<li class="btn btn-info"><a style="color:black;font-weight:bold;" id="btn_check_homework">查询作业</a></li>
				<li class="btn btn-warning"><a style="color:black;font-weight:bold;" id="btn_issue_homework">发布作业</a></li>
				<li class="btn btn-success"><a style="color:black;font-weight:bold;" id="btn_add_student">录入学生</a></li>
				<li class="btn btn-danger"><a style="color:black;font-weight:bold;" id="btn_add_cicos">添加学委</a></li>
			</ol>
		</div>
		<div class="col-md-8" id="div_check_homework">
				<div class="col-md-offset-1">
					<!--面板-->
						<div class="panel panel-default">
							<!-- panel-heading begin -->
							<div class="panel-heading">
								<div class="row">
									<!--下拉菜单-->
									<div class="col-md-4" id="check_course_div">
										<select class="form-control" id="check_course">
											<option>专业课程</option>
											<option>JAVA应用技术</option>
											<option>计算机图形学</option>
											<option>管理信息系统</option>
										</select>
									</div>
									<div class="col-md-3" id="check_exp_div">
										<select class="form-control" id="check_exp">
											<option>作业号</option>
											<option>实验一</option>
											<option>实验二</option>
											<option>实验三</option>
										</select>
									</div>
									<div class="col-md-3" id="check_status_div">
										<select class="form-control" id="check_status">
											<!-- <option value="title">作业情况</option> -->
											<option value="0">已交</option>
											<option value="1">未交</option>
											<option value="2">补交</option>
										</select>
									</div>
									<div class="col-md-1 col-md-offset-1" id="check_click_div">
										<button type="button" id="btn_check_click" class="btn btn-sm btn-info" style="line-height:22px;">
											<span class="glyphicon glyphicon-search"></span>
										</button>
									</div>
									<!--下拉菜单-->
								</div>
								<!-- panel-heading-row end -->
							</div>
							<!-- panel-heading end -->
							<div class="panel-body" style="padding-bottom:0px">
								<!--Panel content-->
								<table class="table table-bordered table-hover">
									<thead id="cicos_check_thead">
										<tr>
											<th></th>
											<th>文件名</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="cicos_check_tbody">
										<tr>
											<td><input type="checkbox"></td>
											<td>201321314315-李明钊-信计133班-JAVA应用技术-作业2.doc</td>
											<td>
												<button type="button" id="btn_down" class="btn btn-xs">
													<span class="glyphicon glyphicon-download"></span>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
								<!--Panel content-->
							</div>
							<div class="panel-footer">
								<div class="col-md-4"></div>
								<div style="display:inline-block;height:30px;">
									<ul class="pagination" style="margin:0px;height:30px;">
										<li><a style="height:30px;" id="cicos_previous_page"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
									</ul>
									<ul class="pagination" style="margin:0px;height:30px;">
										<li><span style="height:30px;" id="cicos_page_num"><b>1</b></span></li>
									</ul>
									<ul class="pagination" style="margin:0px;height:30px;">
										<li><a style="height:30px;" id="cicos_next_page"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
									</ul>
								</div>
								<button type="button" id="cicos_check_download" class="btn btn-sm btn-warning" style="margin-top:-23px;">
									download&nbsp;all&nbsp;<span class="glyphicon glyphicon-download"></span>
								</button>
								<button type="button" id="cicos_send_all_email" class="btn btn-sm btn-warning" style="margin-top:-23px;">
									send&nbsp;all&nbsp;email&nbsp;<span class="glyphicon glyphicon-envelope"></span>
								</button>
							</div>
						</div>
					<!--面板-->
				</div>
		</div>
		<div class="col-md-8" id="div_issue_homework">
				<div class="col-md-offset-1">
						<div class="modal-body">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="control-label col-md-2" for="issue_course_name">课&nbsp;&nbsp;&nbsp;程&nbsp;&nbsp;&nbsp;名:</label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="issue_course_name" placeholder="请输入课程名">
									</div>
								</div>
								<div class="form-group">
									<label  class="control-label col-md-2" for="issue_exp_num">作&nbsp;&nbsp;&nbsp;业&nbsp;&nbsp;&nbsp;号:</label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="issue_exp_num" placeholder="请输入作业号(请用阿拉伯数字表示)">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-2" for="issue_last_time">截&nbsp;&nbsp;&nbsp;止&nbsp;&nbsp;&nbsp;日:</label>
									<div class="col-md-9 input-append date" id="datetimepicker" data-date="10-01-2016" data-date-format="yyyy-mm-dd hh:ii:ss">
										<input type="text" class="span2 form-control" id="issue_last_time" value="2016-10-01 21:30:00">
										<span class="add-on"><i class="icon-remove"></i></span>
										<span class="add-on"><i class="icon-th"></i></span>
									</div>
								</div>
								<div class="form-group">
									<div id="sure_add_tips_div" align="center" style="display: none;">
										<p>
											<span id="sure_add_tips" style="color: red;">添加失败，请重试</span>
										</p>
									</div>
									<div class="col-md-offset-2 col-md-7"></div>
									<div>
										<button type="button" id="sure_issue_course" class="btn btn-sm btn-success">
											保存课程&nbsp;<span class="glyphicon glyphicon-ok-sign"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
				</div>
				<div class="col-md-1"></div>
		</div>
		<div class="col-md-8" id="div_add_student">
				<div class="col-md-offset-1">
					<div class="panel panel-default">
							<!-- panel-heading begin -->
							<div class="panel-heading">
								<p>excel表导入格式前四行如下:</p>
							</div>
							<!-- panel-heading end -->
							<div class="panel-body" style="padding-bottom:0px">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>学号</th>
											<th>姓名</th>
										</tr>
									</thead>
									<tbody id="tbody_add_student">
										<tr>
											<td>123456789012</td>
											<td>某某某</td>
										</tr>
										<tr>
											<td>987654321098</td>
											<td>某某</td>
										</tr>
										<tr>
											<td>123456789012</td>
											<td>某某某</td>
										</tr>
										<tr>
											<td colspan="2" style="color:red;">注意：目前还不支持2007版的excel，只支持2003的版本</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="panel-footer" style="height:50px;">
								<div class="col-md-8">
										<input type="file" name="xls_file" id="xls_file" style="width:250px;">
								</div>
								<div class="col-md-2" id="div_xls_tips">
									<span id="xls_tips"></span>
								</div>
								<div class="col-md-2">
									<button type="button" id="xls_upload" class="btn btn-xs">
										upload&nbsp;<span class="glyphicon glyphicon-upload"></span>
									</button>
								</div>
							</div>
					</div>
				</div>
				<div class="col-md-2"></div>
		</div>
	</div>
	<!-- while cicos login end -->

</body>
</html>