<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--locate modal begin-->
<div class="modal fade" id="locateModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button id="closeLocate" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">请选择具体班级</h4>
			</div>
			<form>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-2" for="university">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;校:</label>
							<div class="col-md-9">
								<select class="form-control" id="university">
										<option>university</option>
										<option>仲恺农业工程学院1</option>
										<option>仲恺农业大学2</option>
										<option>仲大3</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="department">院&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系:</label>
							<div class="col-md-9">
								<select class="form-control" id="department">
										<option>department</option>
										<option>计算科学学院1</option>
										<option>仲恺农业大学2</option>
										<option>jike3</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="clazz">班&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级:</label>
							<div class="col-md-9">
								<select class="form-control" id="clazz">
										<option>class</option>
										<option>信计133班1</option>
										<option>仲恺农业大学2</option>
										<option>仲大3</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="modal-footer">
				<button id="btnLocate" type="button" class="btn btn-success" data-dismiss="modal"><b>确认班级</b></button>
			</div>
		</div>
	</div>
</div>
<!--locate modal end-->

</body>
</html>